.env
.env.local
.env.*.local
*.env
*.pem
*.key
.next/
.turbo/
node_modules/
dist/
coverage/
.vscode/
.DS_Store
.history/
.snapshots/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
